$table-font-size: 1.125rem;
$table-padding-left: 15px;
$table-padding-right: 15px;
$background-color: #F6E8EA;
$header-background-color: #22181C;
$header-cell-hovered-background-color: #F6E8EA;

@import '~react-base-table/es/_BaseTable.scss';

.BaseTable__header-cell {
  color: #F45B69;
}

.#{$table-prefix} {
  &:not(.#{$table-prefix}--show-left-shadow) {
    .#{$table-prefix}__table-frozen-left {
      box-shadow: none;
    }
  }

  &:not(.#{$table-prefix}--show-right-shadow) {
    .#{$table-prefix}__table-frozen-right {
      box-shadow: none;
    }
  }
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  //background-color: #F6E8EA;
  //background-color: #EBF5EE;
  background-color: #F6E8EA;
}
