html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  //background-color: #F6E8EA;
  //background-color: #EBF5EE;
  background-color: #f6e8ea;
}
